<dom-module id="abb-table">
  <style></style>
  <template>
    <div class="abb-table-wrapper">
      <table class="abb-table">
        <thead>
          <tr>
            <template is="dom-repeat" items="{{headers}}">
              <th>
                {{item}}
              </th>
            </template>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{model}}">
            <tr>
              <template is="dom-repeat" items="{{item}}">
                <td>{{item}}</td>
              </template>
            </tr>
          </template>
        </tbody>
        <tfoot>
          <tr>
            <template is="dom-repeat" items="{{footers}}">
              <td>{{item}}</td>
            </template>
          </tr>
        </tfoot>
      </table>
    </div>
  </template>

  <script>
    Polymer({
      is: 'abb-table',
      properties: {
        headers: {
          type: Array,
          notify: true
        },
        model: {
          type: Object,
          notify: true,
          observer: 'logChange'
        },
        footers: {
          type: Array,
          notify: true
        }
      },
      logChange: function (newVal) {
        console.log('new val', newVal);
      }
    });
  </script>
</dom-module>
