<dom-module id="input-text">
  <style></style>
  <template>
    <input type="text" value="{{model::input}}"/>
  </template>

  <script>
    Polymer({
      is: 'input-text',
      properties: {
        model: {
          type: String,
          notify: true,
          observer: '_updateModel'
        },
        component: {
          type: Object
        },
        droppable: {
          type: Boolean,
          value: false
        }
      },
      _updateModel: function(newValue) {
        this.component.updateModelValue(newValue);
      }
    });
  </script>
</dom-module>
