[draggable] {
  user-select: none;
}
ul.icon-tool-set {
  list-style: none;
}
ul.icon-tool-set .icon-tool {
  background-color: #ccc;
  margin: 1em;
  cursor: move;
}
section.app-container {
  display: flex;
}
section.app-container .section {
  flex-direction: column;
}
section.app-container .workbench {
  background-color: lightblue;
}
