@import "_variables";

[draggable] {
  user-select: none;
}

ul.icon-tool-set {
  list-style: none;

  .icon-tool {
    background-color: #ccc;
    margin: 1em;
    cursor: move;
  }
}

section.app-container {
  display: flex;

  .section {
    flex-direction: column;
  }
  .workbench {
    background-color: lightblue;
  }
}

.workbench .col {
  height: 100px;
  border: dashed 1px black;
}
